body, html {
	margin: 0;
	padding: 0;
}
body {
	padding-bottom: 3.5em;
	background-color: #f9f9f9;
}

#login-headline {
	margin-bottom: 0.2em;
}

#login-subtitle {
	color: #ccc;
	margin-top: 0;
}

.centered {
	text-align: center;
}

#login-form {
	margin: 1em;
}

#login-button {
	margin-top: 1em;
}

#login-header {
}

.notification {
color: white;
padding: 0.5em;
position: relative;
}
.notification p {
  margin: 0.5em 0;
}

.notification-success {
  background: #47b101;
}

.notification-error {
  background: #ed4747;
}

#top-bar {
	height: 3.5em;
	text-align: center;
	background-color: #2C4D63;
    color: #fbfdfd;
}

#top-bar-center>h1{
	font-size: 1.3em;
}

#top-bar-center p {
	margin: 0.75em 0;
}

#top-bar-left p, #top-bar-left p {
	margin: 1.15em 0;
}

#nav-bar {
	display: table;
	position: fixed;
	height: 3.5em;
	width: 100%;
	bottom: 0px;
	left: 0px;
}

#nav-bar>a>i:before {
	margin-top: 0.4em;
}

#nav-bar>a>p {
	margin: 0.4em 0;
	padding: 0;
}

#nav-bar a {
	font-size: 60%;
    *font-size: 50%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    /*padding: 0.5em 1.5em 0.5em;*/
    color: #06080a; /* rgba not supported (IE 8) */
    /* color: rgba(0, 0, 0, 0.80); rgba supported */
    /* *color: #444; IE 6 & 7 */
    border: 1px solid #8ea9be; /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
    background-color: #a1b8c9;
    text-decoration: none;
    border-radius: 0px;
    -webkit-font-smoothing: antialiased;
	font-size: 0.7em;
	vertical-align: middle;
	margin: 0;
	display: table-cell;
	text-align: center;
	height: 3.5em;
	width: 20%;
}
#nav-bar a.active {
	background-color: #2C4D63;
    color: #fbfdfd;
}